:root {
    --primary: #ccc
}




.header {
    background: #ccc;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.welcome {
    color: #000;
    font-size: 24px;
    display: flex;
    
    align-items: center;
}

.conta {
    text-align: center;
}

img {
    margin: 24px;
    width: 150px;   
}

