
<div class="pai container-transfer pt-4">
    
    <form (ngSubmit)="onSubmit()">
        <mat-card appearance="outlined" class="mt-5 p-5 cards" >
            <mat-card-title class="mb-4 fs-3 d-flex justify-content-center align-items-center">Login</mat-card-title>
        
            <mat-form-field appearance="outline">
                <mat-label for="email">E-mail:</mat-label>
                <input matInput type="email" id="email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
        
            <mat-form-field appearance="outline" class="branco">
                <mat-label for="password">Password:</mat-label>
                <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
            </mat-form-field>
        

            <div>
                <button class="px-4 fs-5" mat-stroked-button type="submit">Entrar</button>
            </div>

            <p *ngIf="errorMessage">{{ errorMessage }}</p>
        </mat-card>
    </form>

</div>