<main >
    <router-outlet></router-outlet>    
</main>



<!-- <div class="container">
      
    
    <div>
        @switch (page$ | async) {
            @case (pagesEnum.LIST){
                <app-list-transaction (editEmitter)="handleEditTransaction($event)">
                    
                </app-list-transaction>       
            }
            @case (pagesEnum.CREATE){
                 <app-create-transaction></app-create-transaction>
            }
            @case (pagesEnum.EDIT){
                <app-create-transaction [id]="id"></app-create-transaction>      
            }        
        }       
    </div>
</div> -->


<!-- <div class="mt-5"> -->
      
        <!-- <div class="my-4">
          <button mat-flat-button routerLink="/dashboard" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            DASHBOARD
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/transactions" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            EXTRATO
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/transfer" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            TRANSFERÊNCIAS
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/credit" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            CRÉDITO
          </button>
        </div>
       -->

