<aside>

  <div class="logo">
        Banco
        <!-- <a href="http://www.caixa.com.br">
                <img src="img/CAIXA_volume_negativa.png" alt="LOGO CAIXA">
        </a> -->
    </div>
  
    <!-- <div class="mt-5"> -->
      
        <!-- <div class="my-4">
          <button mat-flat-button routerLink="/dashboard" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            DASHBOARD
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/transactions" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            EXTRATO
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/transfer" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            TRANSFERÊNCIAS
          </button>
        </div>

        <div class="my-4">
          <button mat-flat-button routerLink="/credit" routerLinkActive="active" class="w-100 py-4 fs-5"  >
            CRÉDITO
          </button>
        </div>
       -->

       <div class="mt-5 ">
      @for (item of menuItems; track $index) {
        <div class="my-4">
          <button mat-flat-button [routerLink]="`/${item.page}`" routerLinkActive="active" class="w-100 py-4 fs-4 color-button"  >
            
            {{ item.label }}
            <mat-icon fontIcon={{item.icon}}></mat-icon>
          </button>
          
        </div>
      }
     
    </div>
  
</aside>
