aside {
    height: 100vh;
    background: #3a3d4d;    
    padding: 24px 24px;
}

.logo {
    padding: 12px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
}






