aside {
    height: 100vh;
    background: #212529;    
    padding: 24px 24px;
}

.logo {
    padding: 12px;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.color-button {
    background-color: #989a9e;
    color: #000;
    border-radius: 20px;
}
.color-button:hover {
    background-color: #43474b;
    color: #fff;
}






