


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  /* background-color: #FAFAFA; */
}

.div-pai {
    padding: 40px 100px;
}

.welcome {    
    font-size: 100px;
    color: #fff;
}

.saldo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 30px;
    gap: 20px;
}

.cards {
    background-color: #212529;
    color: #fff;
}

.tabela {
    text-align: center;
}

/* .ver-tudo {
    display: grid;
    grid-row-end: auto;
} */

/* .ver-tudo {
   
    
} */

.branco {
    color: #fff;
    border-color: #fff;
}

.branco:hover {
    background-color: #323539;
}






.mb-30 {
    margin-bottom: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.fz-20 {
    font-size: 20px;
}

.fc-red {
    color: red;
}